body {font-family: sans-serif;}
body {background-color: #C0C0C0;}
H2 { text-align: center }
H3 { text-align: center; font-size: smaller; background-color: #FFFFFF;}
H4 { text-align: center }
H5 { text-align: center }
P.blocktext { text-align: center }
IMG.displayed { display: block; border: 1px solid black; margin-left: auto; margin-right: auto }
.table, th, td { border: 1px solid black; }
.datespan {font-size: smaller;}
footer { text-align: center; font-size: smaller; background-color: #FFFFFF; }